.imageStyle{
  
    height: 680px;
    width: auto;
}

.back {
    filter: brightness(60%);
    position: relative;
    text-align: center;
    color: white;
    font-size: 100px;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
  
  }

  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }